logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# SBT
dist
project/target
project/plugins/target
.target

*.class

# Play
RUNNING_PID


# JAVA
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
